.slider {
  position: relative;
  height: 800px;
  width: 800px;
  background-size: cover;
  background-origin: border-box;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  animation: slide 5s forwards;

  .hero-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: -5;
  }
}

@keyframes slide {
  25% {
    background: url(../img/logoSmall.png);
  }
  50% {
    opacity: 0.1;
  }

  100% {
    background: url(../img/istockphoto-914169004-1024x1024.jpg);
  }
}
