$primary-color: #ffffff;
$secondary-color: #3a3b3a;
$third-color: #e1aa7d;
$fourth-color: #be8a60;
$fifth-color: #808a9f;
$sixth-color: #d5dcf9;
$white-color: #ffffff;
$black-color: #000000;
$new-color: #839dff;
