@import "./colors";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: $primary-color;
  background-color: $secondary-color;
}

nav {
  text-transform: uppercase;
  font-weight: 500;
  .nav-link,
  .navbar-nav .show,
  .navbar-nav .nav-link.show,
  .navbar-brand,
  .fa-bars,
  .navbar-nav .show > .nav.link {
    color: $white-color;
  }
  .span {
    position: absolute;
    top: 30px;
    right: 30px;
    justify-items: end;
    align-items: end;
    scale: 1.5;
  }
  .navbar-toggler {
    border-color: white;
    box-shadow: none;
  }

  .nav-link:focus,
  .nav-link:hover,
  .navbar-nav .nav-link.active,
  .navbar-nav .show > .nav.link {
    color: $new-color;
  }
  .dropdown-menu {
    background-color: $secondary-color;
    border-color: white;
    :hover {
      background-color: transparent;
    }
    .dropdown-item {
      color: white;
    }
    .dropdown-item:hover {
      color: $new-color;
    }
  }
}

// @media (min-width: 1200px) {
//   body {
//     background-image: url(../img/logoBig.png);
//   }
// }
