@import "./colors";
@import "./animation2";
@import "./variables";

*,
*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: $primary-color;
  background-color: rgb(1, 1, 1);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}
.section-title {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  height: 5px;
  width: 100px;
  margin: 0 auto 40px;
  background-color: $new-color;
}

.section-wrapper {
  max-width: 100%;
  overflow: hidden;
}

//==========================================
// NAV
//==========================================

nav {
  text-transform: uppercase;
  font-weight: 500;
  z-index: 300;
  font-size: 18px;
  height: 5%;
  transition: 0.6s;

  .navbar-toggler {
    padding: 10px 15px;
  }
  .navbar-toggler:focus {
    box-shadow: $box-shadow-toggler;
  }
}

.navbar-brand {
  font-weight: bold;
  span {
    color: $new-color;
  }
}

.nav-link,
.navbar-nav .show,
.navbar-nav .nav-link.show,
.navbar-brand,
.fa-bars,
.navbar-nav .show > .nav.link {
  color: $white-color;
}
.span {
  position: absolute;
  top: 30px;
  right: 30px;
  justify-items: end;
  align-items: end;
  scale: 1.5;
}

.fa-bars:hover {
  color: $new-color;
}

.nav-link:focus,
.nav-link:hover,
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav.link {
  color: $new-color;
}
.dropdown-menu {
  background-color: $secondary-color;
  border-color: white;
  :hover {
    background-color: transparent;
  }
  .dropdown-item {
    color: white;
  }
  .dropdown-item:hover {
    color: $new-color;
  }
}

//==========================================
// HEADER BUTTON
//==========================================
.btn-contact {
  position: relative;
  display: inline-block;
  top: 50%;
  left: 0;
  cursor: pointer;
  text-decoration: none;
  color: white;
  border: #dfc388 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  font-size: 1.5rem;
  transition:
    background-color 0.3s,
    color 0.3s;

  text-shadow:
    0 0 0.125em rgba(0, 0, 0, 0.5),
    0 0 0.45em currentColor;

  box-shadow:
    inset 0 0 0.5em 0 #dfc388,
    0 0 0.5em 0 #dfc388;
}

.btn-contact::before {
  content: " ";
  position: absolute;
  background-color: #dfc388;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.btn-contact::after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #dfc388;
  opacity: 0;
  box-shadow: 0 0 2em 0.5em #dfc388;
  transition: opacity 100ms linear;
  z-index: -1;
  text-transform: uppercase;
}

.btn-contact:hover,
.btn-contact:focus {
  background: #dfc388;
  color: black;
  text-shadow: none;
  transform: scale(1);
}

.btn-contact:hover::before,
.btn-contact:focus::before {
  opacity: 1;
}

.btn-contact:hover::after,
.btn-contact:focus::after {
  opacity: 1;
}
//==========================================
// ABOUT US
//==========================================

.aboutus {
  color: $black-color;
  text-shadow: $text-shadow;
  &-icon {
    font-size: 30px;
  }
  &-box {
    cursor: pointer;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.15);
    }
  }
}

//==========================================
// FOOTER
//==========================================
.footer {
  color: $white-color;
  background-color: $black-color;
  .wrapper {
    padding: 5px 5px 5px;
  }

  &__box {
    font-size: 1.4rem;
  }
  &__box-desktop {
    display: none;
  }

  &__box-title {
    margin-bottom: 1em;
    font-size: 3rem;
    text-transform: uppercase;
  }

  &__box-social {
    margin: 2em 0 1em;
  }

  &__box-link {
    padding: 0 0.3em;
    font-size: 3.6rem;
    color: $white-color;
    text-decoration: none;
    transition: color 0.3s;

    &:first-child {
      padding-left: 0;
    }

    &:hover {
      color: $white-color;
    }
  }
  &__bottom-text {
    padding: 2em;
    text-align: center;
  }
}

////////////////////
///MEDIA///////////
/// ///////////////
///
// @media (min-width: 576px) {
// }

@media screen and (min-width: 576px) {
  .animation-text {
    top: 4%;
    h1 {
      font-size: 12px;
    }
    p {
      font-size: 8px;
      text-overflow: clip;
      text-wrap: wrap;
    }
  }
}
.aboutus {
  &-icon {
    font-size: 12px;
  }
  &-box {
    h3 {
      font-size: 12px;
    }
    p {
      font-size: 10px;
    }
    cursor: pointer;
    &:hover {
      transform: scale(1.01);
    }
  }
}

@media (min-width: 768px) {
  // .animationImage {
  //   max-height: 520px;
  //   background-color: blue;
  // }
}

@media screen and (min-width: 1200px) {
  // .animationImage {
  //   max-height: 720px;
  //   background-color: yellow;
  // }
  .animationImage img:nth-of-type(2) {
    content: url("../img/heroImageBig.jpeg");
  }
  .animation-text {
    top: 5%;
    h1 {
      font-size: 26px;
    }
    p {
      font-size: 16px;
      text-wrap: wrap;
    }
  }
}
