@import "./colors";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: $primary-color;
}

@media (min-width: 1200px) {
  body {
    background-image: url(../img/logoBig.png);
  }
}
